@charset "utf-8";

.header {
    /*固定操作*/
    position: fixed;
    /*固定位置*/
    top: 0;
    width: 100%;
    background-color: aliceblue;
    /*水平方向に中央揃え*/
    margin: 0 auto;
    padding-top: 20px;
}

body {
    color: #355A71; 
    background-color: aliceblue;
}

h1 {
    font-size: 40px;
    margin:0px 30px 0 0;
}

h2{
    border-bottom: 2px solid #355A71;
    border-top: 2px solid #355A71;
    font-size: 25px;
    margin: 20px 0;
    padding: 10px 0;
}

h3 {
    font-size: 20px;
    font-weight: bolder;
    margin: 0 20px 0 0;
}

h4 {
    font-size: 30px;
    margin: 0 20px 0;
    padding: auto;
}

p{
    font-size: 18px;
    line-height: 30px;
    margin: 30px auto;
}

.main {
    background-image: url(IMG_8248.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: auto;
    padding: 80px 0 0 0;
}

.container {
    background-color: aliceblue;
    width: 70%;
    /*水平方向に中央揃え*/
    margin: 0 auto;
    padding: 50px 30px;
}

.sentence-image-container {
    display: flex;
    font-weight: lighter;
}

.flex {
    height: 40px;
    display: flex;
    justify-content: center;
}

.image img {
    width: 300px;
    margin: auto;
}

/*navタグ中の編集*/

/*テキストを中央揃え*/
nav {
    text-align: center;
    margin: 20px 0;
}
 
nav ul {
    margin: 10px auto ;
    padding: 10px auto ;
}
 
nav ul li {
    list-style: none;
    display: inline-block;
    /* ここで項目の幅を指定します */
    width: 15%; 
    font-size: 20px;
}

/*hover時に下線表示*/
nav li:hover {
border-bottom: 2px solid /*hover時に下線表示*/
}

/*ハイパーリンクの間に/を出現させたい時は下のコード

nav ul li::after {
content: "/";
padding-left: 50px;
color: #333;
}
*/

nav ul li a {
    text-decoration: none;
    color: #333;
}

.content {
    margin-top: 80px;
}

/*スムーズにスクロールアップできる*/
html {
    scroll-behavior: smooth;
}

/*ページトップに戻る操作*/
.pagetop {
    height: 50px;
    width: 50px;
    /*矢印の位置固定*/
    position: fixed;
    /* 矢印の位置 */
    right: 30px;
    bottom: 30px;
    background: #fff;
    border: solid 2px #000;
    /*矢印を丸くする*/
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.pagetop__arrow {
    height: 10px;
    width: 10px;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    /*直角二線を斜めにして矢印にする操作*/
    transform: translateY(20%) rotate(-45deg);
}